<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Css Packages -->
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/fontawesome.min.css" />
    <link rel="stylesheet" href="../static/css/regular.min.css" />
    <link rel="stylesheet" href="../static/css/solid.min.css" />
    <!-- My Css -->
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/media.css" />
    <title>TodoChan</title>
  </head>
  <body>
    <div class="content">
      <!--###### Start aside ######-->
      <aside id="side" class="hid-xe">
        <section class="top-side">
          <div class="buttons-container">
            <div id="my-day" class="side-button">
              <i class="fa-regular fa-sun"></i>
              <span>my day</span>
            </div>
            <div id="my-planned" class="side-button">
              <i class="fa-solid fa-tasks alt-color"></i>
              <span>planned</span>
            </div>
          </div>
          <div class="buttons-container">
            <div class="side-button">
              <i class="fa-solid fa-folder"></i>
              <span>group</span>
            </div>
            <div class="side-button nested-button">
              <i class="fa-solid fa-list alt-color"></i>
              <span>nested list</span>
            </div>
            <div class="side-button">
              <i class="fa-solid fa-list alt-color"></i>
              <span>list</span>
            </div>
          </div>
        </section>
        <section class="bottom-side">
          <div class="add-button big-button">
            <i class="fa-solid fa-plus"></i>
            <span>new list</span>
          </div>
          <div class="add-button">
            <i class="fa-solid fa-folder"></i>
          </div>
        </section>
      </aside>
      <i id="side-toggle" class="fa-solid fa-bars vis-xe-ib display-side"></i>
      <!--###### End aside ######-->
      <!--###### Start tasks section ######-->
      <section id="tasks-container" class="main-content container">
        <div class="overlay"></div>
        <div class="top-section">
          <div class="top-bar">
            <h2>my day</h2>
            <i class="fa-solid fa-ellipsis"></i>
          </div>
          <div id="todo-tasks" class="tasks-container">
            <div class="task">
              <div class="checkbox">
                <input type="checkbox" name="done" value="0" />
                <label></label>
                <i class="fa fa-check"></i>
              </div>
              <div class="task-info">
                <span class="task-title">home work</span>
                <div class="info-container">
                  <span class="task-list">school</span>
                  <span class="task-state"
                    ><i class="fa-solid fa-calendar-week"></i>today</span
                  >
                  <i class="fa-solid fa-repeat"></i>
                </div>
              </div>
            </div>
            <div class="task">
              <div class="checkbox">
                <input type="checkbox" name="done" value="0" />
                <label></label>
                <i class="fa fa-check"></i>
              </div>
              <div class="task-info">
                <span class="task-title">drawing</span>
                <div class="info-container">
                  <span class="task-list">school</span>
                  <span class="task-state"
                    ><i class="fa-solid fa-calendar-week"></i>today</span
                  >
                  <i class="fa-solid fa-repeat"></i>
                </div>
              </div>
            </div>
          </div>
          <div id="completed-button" class="completed-button">
            <i class="fa-solid fa-chevron-down"></i>
            <span>completed 12</span>
          </div>
          <div id="completed-tasks" class="tasks-container">
            <div class="task">
              <div class="checkbox">
                <input type="checkbox" name="done" value="0" />
                <label></label>
                <i class="fa fa-check"></i>
              </div>
              <div class="task-info">
                <span class="task-title">programming</span>
                <div class="info-container">
                  <span class="task-list">school</span>
                  <span class="task-state"
                    ><i class="fa-solid fa-calendar-week"></i>today</span
                  >
                  <i class="fa-solid fa-repeat"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-section">
          <i class="fa-solid fa-plus"></i>
          <input type="text" placeholder="add a task" />
        </div>
      </section>
      <!--###### End tasks section ######-->
    </div>
    <script src="../static/js/toggle.js"></script>
    <script src="../static/js/complete_task.js"></script>
  </body>
</html>
