/* Start Global */
:root {
    --main-color: #5677fc;
    --main-alt: #3f51b5;
    --dark-main: #202020;
    --dark-alt: #303030;
    --dark-alpha: #202020ee;
    --light-main: #d0d0d0;
    --light-alt: #c0c0c0;
    --light-alpha: #e0e0e033;
    --main-transition: 0.3s;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    position: relative;
}

.container{
    margin: auto;
    padding: 0 15px;
}
/* End Global */

/* Start content */
.content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
/* End content */

/* Start Aside */
.content aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-main);
    flex-basis: 25%;
    height: 100vh;
    border-right: 2px solid var(--dark-alt);
    box-shadow: 1px 0px 8px var(--dark-main);
}

.content aside.small-view {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50%;
}

.content aside .buttons-container:first-of-type {
    border-bottom: 2px solid var(--dark-alt);
}

.content aside .side-button {
    padding: 12px;
    margin: 4px 2px;
    position: relative;
    border-radius: 2px;
    cursor: pointer;
    transition: background var(--main-transition);
}

.content aside .nested-button {
    margin-left: 20px;
}

.content aside .side-button::before {
    content: "";
    width: 3px;
    height: 0;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    left: 2px;
    border-radius: 6px;
    transition: height var(--main-transition), top var(--main-transition);
}

.content aside .side-button:hover,
.content aside .side-button.active {
    background-color: var(--light-alpha);
}

.content aside .side-button:hover::before,
.content aside .side-button.active::before {
    height: 50%;
    top: 25%;
}

.content aside .side-button i {
    color: var(--main-color);
}

.content aside .side-button i.alt-color {
    color: var(--main-alt);
}

.content aside .side-button span {
    text-transform: capitalize;
    color: var(--light-main);
    font-weight: 400;
}

.content aside .bottom-side {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content aside .bottom-side .big-button {
    flex-grow: 1;
}

.content aside .bottom-side .add-button {
    padding: 12px;
    margin: 4px 2px;
    position: relative;
    border-radius: 2px;
    cursor: pointer;
    transition: background var(--main-transition);
}

.content aside .bottom-side .add-button span {
    text-transform: capitalize;
    color: var(--light-main);
    font-weight: 400;
}

.content aside .bottom-side .add-button i {
    color: var(--light-main)
}

.content aside .add-button:hover,
.content aside .add-button.active {
    background-color: var(--light-alpha);
}

.content .display-side {
    display: none;
    font-size: 1.4em;
    color: var(--main-color);
    position: absolute;
    top: 6px;
    left: 6px;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 4px;
    transition: background var(--main-transition);
}

.content .display-side:hover {
    background-color: var(--light-alpha)
}

/* End Aside */

/* Start Section */
.content .main-content {
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    position: relative;
    background-image: url("../src/bg.jpg");
    background-size: cover;
    box-shadow:  0px 0px 8px 3px var(--dark-main) inset;
    flex-basis: 75%;
    flex-grow: 1;
    height: 100vh;
}

.content .main-content .top-section {
    flex-basis: 100%;
}

.content .main-content .overlay {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 15%;
    background-image: linear-gradient(var(--dark-main) 0, transparent);
    z-index: 1;
    opacity: 0.6;
}

.content .main-content .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: relative;
}

.content .main-content .top-bar h2 {
    text-transform: capitalize;
    color: var(--light-main);
    font-weight: 600;
    font-size: 1.8em;
}
.content .main-content .top-bar i {
    color: var(--light-main);
    font-size: 1.3em;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 4px;
    transition: background var(--main-transition)
}

.content .main-content .top-bar i:hover {
    background-color: var(--light-alpha);
}

.content .main-content .tasks-container {
    margin: 10px 0;
}

.content .main-content .tasks-container .task {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: var(--dark-alt);
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 3px 3px 4px 1px var(--dark-main);
    transition: background var(--main-transition);
    cursor: pointer;
}

.content .main-content .tasks-container .task:hover {
    background-color: var(--dark-main);
}

.content .main-content .tasks-container .task .checkbox {
    position: relative;
    margin-right: 15px;
}

.content .main-content .tasks-container .task .checkbox input {
    opacity: 0;
    position: relative;
    z-index: 2;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.content .main-content .tasks-container .task .checkbox input + label {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    border: 2px solid var(--light-alt);
    border-radius: 50%;
    z-index: 1;
    transition: background var(--main-transition), border var(--main-transition);
}

.content .main-content .tasks-container .task .checkbox input:checked + label {
    border-color: var(--main-alt);
    background-color: var(--main-color);
}

.content .main-content .tasks-container .task .checkbox i {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    z-index: 1;
    font-size: 0.8em;
    color: var(--light-main)
}

.content .main-content .tasks-container .task .checkbox input:checked ~ i,
.content .main-content .tasks-container .task .checkbox input:hover ~ i {
    display: inline;
}

.content .main-content .tasks-container .task .task-info .task-title {
    color: var(--light-main);
    text-transform: capitalize;
    font-weight: 500;
}

.content .main-content .tasks-container .task .task-info .info-container {
    margin-top: 8px;
}

.content .main-content .tasks-container .task .task-info .task-list {
    color: var(--light-alt);
    font-weight: 400;
}

.content .main-content .tasks-container .task .task-info .task-state {
    color: var(--light-alt);
    padding: 0 8px;
    font-weight: 400;
}

.content .main-content .tasks-container .task .task-info .task-state i {
    display: inline-block;
    margin-right: 8px;
}

.content .main-content .tasks-container .task .task-info .fa-repeat {
    color: var(--light-alt)
}

.content .main-content .completed-button {
    align-items: center;
    width: fit-content;
    background-color: var(--dark-alt);
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 3px 3px 4px 1px var(--dark-main);
    cursor: pointer;
    transition: background var(--main-transition);
}

.content .main-content .completed-button:hover {
    background-color: var(--dark-main);
}

.content .main-content .completed-button span {
    color: var(--light-main);
    font-weight: 500;
    text-transform: capitalize;
}

.content .main-content .completed-button i {
    color: var(--light-main);
    margin-right: 10px;
}

.content .main-content .bottom-section {
    display: flex;
    background-color: var(--dark-alpha);
    flex-basis: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 3px 3px 4px 1px var(--dark-main);
}

.content .main-content .bottom-section i {
    color: var(--light-main);
    margin-right: 10px;
}

.content .main-content .bottom-section input[type="text"] {
    color: var(--light-main);
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 500;
    flex: 1;
}
/* End Section */
